<link href="../../Content/account.css" rel="stylesheet" />
<!-- Body -->
<div class="wrapper body-inverse">
    <!-- wrapper -->
    <div class="container">
        <div class="row">
            <!-- Sign In form -->
            <div class="col-sm-5 col-sm-offset-1 signin-form-container">
                <h3>Sign In to your account</h3>
                <p class="text-muted">
                    Please fill out the form below to login to your account.
                </p>
                <div class="form-white">
                    <form role="form">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary btn-xxl">Submit</button>
                    </form>
                    <hr>
                    <p><a href="#" id="lost-btn">Lost your password?</a></p>
                </div>
            </div>
            <!-- Sign Up form -->
            <div class="col-sm-5">
                <h3 class="text-right-xs">Sign Up</h3>
                <p class="text-muted text-right-xs">
                    Please fill out the form below to create a new account.
                </p>
                <div class="form-white">
                    <form role="form">
                        <div class="form-group" data-toggle="buttons">
                            <label class="btn btn-default user-type">
                                <input type="radio" name="options" id="option1" autocomplete="off">
                                <span class="user-type-word">I am a student</span>
                            </label>

                            <label class="btn btn-default user-type">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <span class="radio-dot"></span>
                                <span class="user-type-word">I am a teacher</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="email2">Email address</label>
                            <input type="email" class="form-control" id="email2" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="password2">Password</label>
                                    <input type="password" class="form-control" id="password2" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <label for="password2">Repeat password</label>
                                    <input type="password" class="form-control" id="password3" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> I agree to the <a .html#">Terms of Service</a> and <a href=".html#">Privacy Policy</a>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary btn-xxl">Create an account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- / wrapper -->